NodeRed_Code.txt
[{"id":"deb0d57.1c46528","type":"tab","label":"Crops","disabled":false,"info":""},{"id":"3ced2403.746b1c","type":"tab","label":"Cattle","disabled":false,"info":""},{"id":"ce4b81e5.c9d94","type":"ui_group","z":"deb0d57.1c46528","name":"Crops","tab":"599641da.b863c","order":3,"disp":true,"width":"18"},{"id":"f9a6d16c.f3db8","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#212bc3","baseFont":"Arial Black,Arial Black,Gadget,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#08362e","baseFont":"Arial Black,Arial Black,Gadget,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#08362e","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#127967","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#08362e","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"Arial Black,Arial Black,Gadget,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"599641da.b863c","type":"ui_tab","z":"","name":"crops","icon":"dashboard","order":2},{"id":"60cf63f1.67ebfc","type":"twilio-api","z":"","sid":"AC61faf1dccaf9f583834c797d1aeb3f17","from":"+1 (913) 225-8397","name":""},{"id":"f6361928.9a2458","type":"twilio-api","z":"","sid":"AC925c5081bd6674e0b5d2130297f793aa","from":"+14154960628 ","name":"Madhu"},{"id":"b5c21ad0.d1e5c8","type":"ui_tab","z":"","name":"cattle","icon":"dashboard","order":1},{"id":"340374c7.4e9d5c","type":"ui_group","z":"","name":"Stress Monitor","tab":"b5c21ad0.d1e5c8","order":2,"disp":true,"width":"24"},{"id":"48408c96.1f9054","type":"ui_group","z":"","name":"Real Time Monitoring","tab":"b5c21ad0.d1e5c8","order":1,"disp":true,"width":"24"},{"id":"158168c2.47a597","type":"ui_group","z":"","name":"Crop Monitoring","tab":"b5c21ad0.d1e5c8","order":3,"disp":true,"width":"18"},{"id":"f82832ff.47625","type":"inject","z":"deb0d57.1c46528","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"x":100,"y":64,"wires":[["f6518ea8.7a3e9","b6ec397.9ebd8c8"]]},{"id":"f6518ea8.7a3e9","type":"function","z":"deb0d57.1c46528","name":"Mocking Moisture values","func":"var a = [120,119,118,117,116,115,114,113,112,111,110,109,108,107,106,105,104,103,102,101,100];\n\nvar i = flow.get(\"count\") || 0;\n\ni++;\nif (i >= a.length) {\n    i=0;\n}\nflow.set(\"count\",i);\n\nmsg.payload=a[i];\n\nif (msg.payload>=110 && msg.payload<=120) {\n  return msg;  \n}\n\n\n\n\n","outputs":1,"noerr":0,"x":353,"y":62,"wires":[["1e0d3a0c.db9e56","8beb9191.b4224"]]},{"id":"c01fa960.528118","type":"watson-text-to-speech","z":"deb0d57.1c46528","name":"Alert","lang":"en-GB","langhidden":"en-GB","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-GB_KateVoice","voicehidden":"","format":"audio/wav","password":"Xna2sceVdgrR","payload-response":true,"default-endpoint":true,"service-endpoint":"https://stream-fra.watsonplatform.net/text-to-speech/api","x":760.857120513916,"y":71.49999761581421,"wires":[["275dd0f3.debfc"]]},{"id":"1e0d3a0c.db9e56","type":"function","z":"deb0d57.1c46528","name":"Threshold check","func":"   if (msg.payload==110) {\n    \n    return {payload:\" Alert Moisture level in the Soil is low Watering the crops now\"};\n    }\n    ","outputs":"1","noerr":0,"x":583.75,"y":94.5,"wires":[["c01fa960.528118","12f19052.22c9a"]]},{"id":"b6ec397.9ebd8c8","type":"function","z":"deb0d57.1c46528","name":"Nitrogen Sensor values","func":"var a = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,18,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60];\n\nvar i = flow.get(\"count3\") || 0;\n\ni++;\nif (i >= a.length) {\n    i=0;\n}\nflow.set(\"count3\",i);\n\nmsg.payload=a[i];\n\nif (msg.payload>=0 && msg.payload<=47) {\n  return msg;  \n}","outputs":1,"noerr":0,"x":342,"y":140,"wires":[["a0e33eb.2fabbc","1af4eb92.45dd74"]]},{"id":"38d31bb9.dc2014","type":"watson-text-to-speech","z":"deb0d57.1c46528","name":"Alert","lang":"en-GB","langhidden":"en-GB","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-GB_KateVoice","voicehidden":"","format":"audio/wav","password":"Xna2sceVdgrR","payload-response":true,"default-endpoint":true,"service-endpoint":"https://stream-fra.watsonplatform.net/text-to-speech/api","x":745,"y":183,"wires":[["a8285b4.6a0fea8"]]},{"id":"1af4eb92.45dd74","type":"function","z":"deb0d57.1c46528","name":"Threshold check","func":"if (msg.payload==47) {\n    \n    msg.payload=\"This crop has enough Nitrogen Don't fertilize further\";\n    return msg;\n    }","outputs":1,"noerr":0,"x":590,"y":182,"wires":[["38d31bb9.dc2014"]]},{"id":"ee1e400.fac00c","type":"function","z":"deb0d57.1c46528","name":"Get Weather data","func":"//var precip_type = [msg.payload.forecasts[0].precip_type,msg.payload.forecasts[1].precip_type,msg.payload.forecasts[2].precip_type];\nvar i = {};\nvar j = {};\nvar k = {};\nvar msg1 = {};\ni.payload = msg.payload.forecasts[4].precip_type;\nj.payload = msg.payload.forecasts[8].precip_type;\nk.payload = msg.payload.forecasts[12].precip_type;\nif(i.payload ==\"rain\" || j.payload ==\"rain\" || k.payload ==\"rain\") {\n    msg1.payload = \"rain\";\n}\n\nreturn msg1;\n","outputs":"1","noerr":0,"x":374.9286193847656,"y":221.9285650253296,"wires":[[]]},{"id":"275dd0f3.debfc","type":"ui_audio","z":"deb0d57.1c46528","name":"","group":"158168c2.47a597","voice":"0","always":false,"x":891,"y":71,"wires":[]},{"id":"a8285b4.6a0fea8","type":"ui_audio","z":"deb0d57.1c46528","name":"","group":"158168c2.47a597","voice":"0","always":false,"x":879,"y":186,"wires":[]},{"id":"a0e33eb.2fabbc","type":"ui_gauge","z":"deb0d57.1c46528","name":"","group":"158168c2.47a597","order":0,"width":"5","height":"4","gtype":"gage","title":"Nitrogen Level","label":"","format":"{{value}}","min":"0","max":"70","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":590,"y":137,"wires":[]},{"id":"3ec148bb.c0e0f8","type":"http request","z":"deb0d57.1c46528","name":"Get Current Weather","method":"GET","ret":"obj","url":"https://twcservice.mybluemix.net/api/weather/v1/geocode/48.1351/11.5820/forecast/hourly/48hour.json","tls":"","x":144.58928298950195,"y":229.9642791748047,"wires":[["ee1e400.fac00c"]]},{"id":"8beb9191.b4224","type":"ui_gauge","z":"deb0d57.1c46528","name":"","group":"158168c2.47a597","order":0,"width":"5","height":"4","gtype":"gage","title":"Soli Moisture Level","label":"units","format":"{{value}}","min":"100","max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":582.125,"y":36.75,"wires":[]},{"id":"12f19052.22c9a","type":"function","z":"deb0d57.1c46528","name":"Mocking Moisture values","func":"var a = [100,100,100,100,100,100,100,100,100,100];\n\nvar i = flow.get(\"count2\") || 0;\n\ni++;\nif (i >= a.length) {\n    i=0;\n}\nflow.set(\"count2\",i);\n\nmsg.payload=1000-i*a[i];\n\n  return msg;  \n\n\n\n\n\n","outputs":1,"noerr":0,"x":807,"y":125,"wires":[["a07f38f5.9e7458"]]},{"id":"a07f38f5.9e7458","type":"ui_gauge","z":"deb0d57.1c46528","name":"Water Tank","group":"158168c2.47a597","order":0,"width":"6","height":"4","gtype":"wave","title":"Water Tank","label":"units","format":"{{value}}","min":"0","max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1014,"y":127,"wires":[]},{"id":"775eb84.fb93948","type":"function","z":"3ced2403.746b1c","name":"Ingest Real-Time CC1350 SensorTag Data","func":"// Load the TI Sub1GHz SensorTag temperature database with Real Time data from SensorTags as it arrives\n// Follow the specification detailed in this wiki:\n// https://github.ibm.com/watson-iot-dev-adv/TIsubGHz/wiki/Data_Formats\n// Format is:\n// {id:Int,desc:String,value:float,ts:long} #desc should contain hints on the physical placement, e.g. Kevin's office, window 1\n\n// The CC1350 SensorTag reference design emits temperature, illuminance, humidity\nif ( typeof msg.payload.d.smart_objects !== 'undefined') {\n var temp = msg.payload.d.smart_objects.temperature[0].sensorValue;\n var lux = msg.payload.d.smart_objects.illuminance[0].sensorValue;\n var hum = msg.payload.d.smart_objects.humidity[0].sensorValue;\n var bar = msg.payload.d.smart_objects.barometer[0].sensorValue;\n var volt = msg.payload.d.smart_objects.voltage[0].sensorValue;\n} \n\n// msg.topic will be in the form \n// \"iot-2/type/subGHzCollector/id/jwGateway/evt/deviceUpdate/fmt/json\"\n// We are interested in the 5th value - device-ID\nvar sensortopic = msg.topic.split(\"/\");\nvar desc_id = sensortopic[4];\nvar device_id = msg.payload.d.ext_addr;\nvar msgtemp = {}, msglux = {}, msghum = {}, msgbar = {}, msgvolt = {};\nvar curtime = Date.now();\n\nmsgtemp.payload = { id : device_id, desc : desc_id, value: temp , ts : curtime };\nmsglux.payload = { id : device_id, desc : desc_id, value: lux , ts : curtime };\nmsghum.payload = { id : device_id, desc : desc_id, value: hum , ts : curtime };\nmsgbar.payload = { id : device_id, desc : desc_id, value: bar , ts : curtime };\nmsgvolt.payload = { id : device_id, desc : desc_id, value: volt , ts : curtime };\n\nreturn [msgtemp, msglux, msghum, msgbar, msgvolt ];\n","outputs":"5","noerr":0,"x":433.0000457763672,"y":139.00000381469727,"wires":[["732decbc.c404c4"],["3c23a51c.467dda"],["401852.4cfa17b"],["66b5bdc1.a8ed84"],[]]},{"id":"f3875637.f75248","type":"ibmiot in","z":"3ced2403.746b1c","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":55,"y":307.80003356933594,"wires":[["d7cebbf.d07c948","12b41563.957deb","e5eb298b.3c1d68","8b34b79e.4a4878"]]},{"id":"d7cebbf.d07c948","type":"function","z":"3ced2403.746b1c","name":"filter_data","func":"if( msg.payload.d.ext_addr != \"0x124b000bcd0384\" ) {\n return null;\n}\nreturn msg;","outputs":1,"noerr":0,"x":188.10000610351562,"y":138.40001678466797,"wires":[["775eb84.fb93948","8125ba08.8acf18"]]},{"id":"732decbc.c404c4","type":"change","z":"3ced2403.746b1c","name":"Temperature","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"},{"t":"set","p":"series","pt":"msg","to":"0384","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":738.1001205444336,"y":55.20001983642578,"wires":[["18733b53.ba15a5"]]},{"id":"c2a2d9bd.5c25b8","type":"function","z":"3ced2403.746b1c","name":"Ingest Real-Time CC1350 SensorTag Data","func":"// Load the TI Sub1GHz SensorTag temperature database with Real Time data from SensorTags as it arrives\n// Follow the specification detailed in this wiki:\n// https://github.ibm.com/watson-iot-dev-adv/TIsubGHz/wiki/Data_Formats\n// Format is:\n// {id:Int,desc:String,value:float,ts:long} #desc should contain hints on the physical placement, e.g. Kevin's office, window 1\n\n// The CC1350 SensorTag reference design emits temperature, illuminance, humidity\nif ( typeof msg.payload.d.smart_objects !== 'undefined') {\n var temp = msg.payload.d.smart_objects.temperature[0].sensorValue;\n var lux = msg.payload.d.smart_objects.illuminance[0].sensorValue;\n var hum = msg.payload.d.smart_objects.humidity[0].sensorValue;\n var bar = msg.payload.d.smart_objects.barometer[0].sensorValue;\n var volt = msg.payload.d.smart_objects.voltage[0].sensorValue;\n} \n\n// msg.topic will be in the form \n// \"iot-2/type/subGHzCollector/id/jwGateway/evt/deviceUpdate/fmt/json\"\n// We are interested in the 5th value - device-ID\nvar sensortopic = msg.topic.split(\"/\");\nvar desc_id = sensortopic[4];\nvar device_id = msg.payload.d.ext_addr;\nvar msgtemp = {}, msglux = {}, msghum = {}, msgbar = {}, msgvolt = {};\nvar curtime = Date.now();\n\nmsgtemp.payload = { id : device_id, desc : desc_id, value: temp , ts : curtime };\nmsglux.payload = { id : device_id, desc : desc_id, value: lux , ts : curtime };\nmsghum.payload = { id : device_id, desc : desc_id, value: hum , ts : curtime };\nmsgbar.payload = { id : device_id, desc : desc_id, value: bar , ts : curtime };\nmsgvolt.payload = { id : device_id, desc : desc_id, value: volt , ts : curtime };\n\nreturn [msgtemp, msglux, msghum, msgbar, msgvolt ];\n","outputs":"5","noerr":0,"x":434.00013732910156,"y":248.00003051757812,"wires":[["e2fefdb8.f8d8d"],["5229c9e3.9c1d38"],["73999edc.48be9"],["c10a0955.ffaa88"],[]]},{"id":"12b41563.957deb","type":"function","z":"3ced2403.746b1c","name":"filter_data","func":"if( msg.payload.d.ext_addr != \"0x124b000bccdd81\" ) {\n return null;\n}\nreturn msg;","outputs":1,"noerr":0,"x":189.00000381469727,"y":249.00001907348633,"wires":[["c2a2d9bd.5c25b8","b2ae9d3e.90135"]]},{"id":"18733b53.ba15a5","type":"ui_chart","z":"3ced2403.746b1c","name":"","group":"48408c96.1f9054","order":3,"width":"6","height":"4","label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":941.0001258850098,"y":69.00006866455078,"wires":[[],[]]},{"id":"e2fefdb8.f8d8d","type":"change","z":"3ced2403.746b1c","name":"Temperature","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"},{"t":"set","p":"series","pt":"msg","to":"dd81","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":743.0000228881836,"y":86.00003242492676,"wires":[["18733b53.ba15a5"]]},{"id":"3c23a51c.467dda","type":"change","z":"3ced2403.746b1c","name":"Light","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"},{"t":"set","p":"series","pt":"msg","to":"0384","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":743.0000228881836,"y":158.00003063678741,"wires":[["803220d4.6ac43"]]},{"id":"803220d4.6ac43","type":"ui_chart","z":"3ced2403.746b1c","name":"","group":"48408c96.1f9054","order":2,"width":"6","height":"4","label":"Light","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":931.8999290466309,"y":210.8000774383545,"wires":[[],[]]},{"id":"5229c9e3.9c1d38","type":"change","z":"3ced2403.746b1c","name":"Light","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"},{"t":"set","p":"series","pt":"msg","to":"dd81","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740.8999252319336,"y":194.80005645751953,"wires":[["803220d4.6ac43"]]},{"id":"401852.4cfa17b","type":"change","z":"3ced2403.746b1c","name":"Humidity","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"},{"t":"set","p":"series","pt":"msg","to":"0384","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":757.0000228881836,"y":312.0000343322754,"wires":[["247c1d10.7c82b2"]]},{"id":"247c1d10.7c82b2","type":"ui_chart","z":"3ced2403.746b1c","name":"","group":"48408c96.1f9054","order":8,"width":"6","height":"4","label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":934.8999290466309,"y":352.80008029937744,"wires":[[],[]]},{"id":"73999edc.48be9","type":"change","z":"3ced2403.746b1c","name":"Humidity","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"},{"t":"set","p":"series","pt":"msg","to":"dd81","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":757.8999252319336,"y":343.80003356933594,"wires":[["247c1d10.7c82b2"]]},{"id":"c10a0955.ffaa88","type":"change","z":"3ced2403.746b1c","name":"Pressure","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"},{"t":"set","p":"series","pt":"msg","to":"0384","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":759.0000228881836,"y":454.00001525878906,"wires":[["54154159.45b95"]]},{"id":"66b5bdc1.a8ed84","type":"change","z":"3ced2403.746b1c","name":"Pressure","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"},{"t":"set","p":"series","pt":"msg","to":"dd81","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":756.0000228881836,"y":492.0000162124634,"wires":[["54154159.45b95"]]},{"id":"54154159.45b95","type":"ui_chart","z":"3ced2403.746b1c","name":"","group":"48408c96.1f9054","order":1,"width":"6","height":"4","label":"Pressure","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":940.0000267028809,"y":487.00000953674316,"wires":[[],[]]},{"id":"67e092f8.6272dc","type":"function","z":"3ced2403.746b1c","name":"Ingest Real-Time CC1350 SensorTag Data","func":"// Load the TI Sub1GHz SensorTag temperature database with Real Time data from SensorTags as it arrives\n// Follow the specification detailed in this wiki:\n// https://github.ibm.com/watson-iot-dev-adv/TIsubGHz/wiki/Data_Formats\n// Format is:\n// {id:Int,desc:String,value:float,ts:long} #desc should contain hints on the physical placement, e.g. Kevin's office, window 1\n\n// The CC1350 SensorTag reference design emits temperature, illuminance, humidity\nif ( typeof msg.payload.d.smart_objects !== 'undefined') {\n var temp = msg.payload.d.smart_objects.temperature[0].sensorValue;\n var lux = msg.payload.d.smart_objects.illuminance[0].sensorValue;\n var hum = msg.payload.d.smart_objects.humidity[0].sensorValue;\n var bar = msg.payload.d.smart_objects.barometer[0].sensorValue;\n var volt = msg.payload.d.smart_objects.voltage[0].sensorValue;\n} \n\n// msg.topic will be in the form \n// \"iot-2/type/subGHzCollector/id/jwGateway/evt/deviceUpdate/fmt/json\"\n// We are interested in the 5th value - device-ID\nvar sensortopic = msg.topic.split(\"/\");\nvar desc_id = sensortopic[4];\nvar device_id = msg.payload.d.ext_addr;\nvar msgtemp = {}, msglux = {}, msghum = {}, msgbar = {}, msgvolt = {};\nvar curtime = Date.now();\n\nmsgtemp.payload = { id : device_id, desc : desc_id, value: temp , ts : curtime };\nmsglux.payload = { id : device_id, desc : desc_id, value: lux , ts : curtime };\nmsghum.payload = { id : device_id, desc : desc_id, value: hum , ts : curtime };\nmsgbar.payload = { id : device_id, desc : desc_id, value: bar , ts : curtime };\nmsgvolt.payload = { id : device_id, desc : desc_id, value: volt , ts : curtime };\n\nreturn [msgtemp, msglux, msghum, msgbar, msgvolt ];\n","outputs":"5","noerr":0,"x":432,"y":364,"wires":[["297e34f7.7ecd1c"],["cf4b185f.be3028"],["47128d3c.36acf4"],["ce5e2efb.7157d"],[]]},{"id":"8ee332ff.ab5d4","type":"function","z":"3ced2403.746b1c","name":"Ingest Real-Time CC1350 SensorTag Data","func":"// Load the TI Sub1GHz SensorTag temperature database with Real Time data from SensorTags as it arrives\n// Follow the specification detailed in this wiki:\n// https://github.ibm.com/watson-iot-dev-adv/TIsubGHz/wiki/Data_Formats\n// Format is:\n// {id:Int,desc:String,value:float,ts:long} #desc should contain hints on the physical placement, e.g. Kevin's office, window 1\n\n// The CC1350 SensorTag reference design emits temperature, illuminance, humidity\nif ( typeof msg.payload.d.smart_objects !== 'undefined') {\n var temp = msg.payload.d.smart_objects.temperature[0].sensorValue;\n var lux = msg.payload.d.smart_objects.illuminance[0].sensorValue;\n var hum = msg.payload.d.smart_objects.humidity[0].sensorValue;\n var bar = msg.payload.d.smart_objects.barometer[0].sensorValue;\n var volt = msg.payload.d.smart_objects.voltage[0].sensorValue;\n} \n\n// msg.topic will be in the form \n// \"iot-2/type/subGHzCollector/id/jwGateway/evt/deviceUpdate/fmt/json\"\n// We are interested in the 5th value - device-ID\nvar sensortopic = msg.topic.split(\"/\");\nvar desc_id = sensortopic[4];\nvar device_id = msg.payload.d.ext_addr;\nvar msgtemp = {}, msglux = {}, msghum = {}, msgbar = {}, msgvolt = {};\nvar curtime = Date.now();\n\nmsgtemp.payload = { id : device_id, desc : desc_id, value: temp , ts : curtime };\nmsglux.payload = { id : device_id, desc : desc_id, value: lux , ts : curtime };\nmsghum.payload = { id : device_id, desc : desc_id, value: hum , ts : curtime };\nmsgbar.payload = { id : device_id, desc : desc_id, value: bar , ts : curtime };\nmsgvolt.payload = { id : device_id, desc : desc_id, value: volt , ts : curtime };\n\nreturn [msgtemp, msglux, msghum, msgbar, msgvolt ];\n","outputs":"5","noerr":0,"x":433.0000915527344,"y":473.00002670288086,"wires":[["c3824736.81a998"],["3f8df8a3.5cdc98"],["7176824a.a2b6ec"],["9485ef81.e06f3"],[]]},{"id":"e5eb298b.3c1d68","type":"function","z":"3ced2403.746b1c","name":"filter_data","func":"if( msg.payload.d.ext_addr != \"0x124b000bccfa02\" ) {\n return null;\n}\nreturn msg;","outputs":1,"noerr":0,"x":185.0000171661377,"y":364.0000104904175,"wires":[["67e092f8.6272dc","36b8c16a.8d3e2e"]]},{"id":"8b34b79e.4a4878","type":"function","z":"3ced2403.746b1c","name":"filter_data","func":"if( msg.payload.d.ext_addr != \"0x124b000bcce680\" ) {\n return null;\n}\nreturn msg;","outputs":1,"noerr":0,"x":182.00000762939453,"y":473.00001335144043,"wires":[["8ee332ff.ab5d4","32fae274.9f013e"]]},{"id":"297e34f7.7ecd1c","type":"change","z":"3ced2403.746b1c","name":"Temperature","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"},{"t":"set","p":"series","pt":"msg","to":"fa02","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":24,"wires":[["18733b53.ba15a5"]]},{"id":"c3824736.81a998","type":"change","z":"3ced2403.746b1c","name":"Temperature","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"},{"t":"set","p":"series","pt":"msg","to":"e680","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":742.0000228881836,"y":118.00000381469727,"wires":[["18733b53.ba15a5"]]},{"id":"3f8df8a3.5cdc98","type":"change","z":"3ced2403.746b1c","name":"Light","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"},{"t":"set","p":"series","pt":"msg","to":"e680","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":742.0000228881836,"y":265.00000858306885,"wires":[["803220d4.6ac43"]]},{"id":"cf4b185f.be3028","type":"change","z":"3ced2403.746b1c","name":"Light","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"},{"t":"set","p":"series","pt":"msg","to":"fa02","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":742.0000228881836,"y":228.00000858306885,"wires":[["803220d4.6ac43"]]},{"id":"7176824a.a2b6ec","type":"change","z":"3ced2403.746b1c","name":"Humidity","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"},{"t":"set","p":"series","pt":"msg","to":"e680","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":756.0000228881836,"y":410.0000114440918,"wires":[["247c1d10.7c82b2"]]},{"id":"47128d3c.36acf4","type":"change","z":"3ced2403.746b1c","name":"Humidity","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"},{"t":"set","p":"series","pt":"msg","to":"fa02","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":757.0000228881836,"y":374.0000114440918,"wires":[["247c1d10.7c82b2"]]},{"id":"9485ef81.e06f3","type":"change","z":"3ced2403.746b1c","name":"Pressure","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"},{"t":"set","p":"series","pt":"msg","to":"e602","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":762.0000267028809,"y":560.0000171661377,"wires":[["54154159.45b95"]]},{"id":"ce5e2efb.7157d","type":"change","z":"3ced2403.746b1c","name":"Pressure","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"},{"t":"set","p":"series","pt":"msg","to":"fa02","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760.0000228881836,"y":526.0000638961792,"wires":[["54154159.45b95"]]},{"id":"a705e6dd.f81788","type":"ui_gauge","z":"3ced2403.746b1c","name":"","group":"340374c7.4e9d5c","order":5,"width":"6","height":"4","gtype":"gage","title":"Yamuna","label":"Stress level","format":"{{value | number:1}}","min":0,"max":"120","colors":["#00b500","#ffff00","#ff0000"],"seg1":"74","seg2":"82","x":551.5000648498535,"y":559.0000286102295,"wires":[]},{"id":"b2ae9d3e.90135","type":"function","z":"3ced2403.746b1c","name":"Stress level","func":"var msgtemp={};\nvar temp = 0, hum = 0, thi = 0.0;\nif ( typeof msg.payload.d.smart_objects !== 'undefined') {\n temp = msg.payload.d.smart_objects.temperature[0].sensorValue;\n hum = msg.payload.d.smart_objects.humidity[0].sensorValue;\n thi = (1.8*temp + 32.0) - (0.55-0.0055*hum) * (1.8*temp - 26.8);\n}\nmsgtemp.payload = thi;\nmsgtemp.topic=\"dd81\"\nreturn msgtemp;\n","outputs":1,"noerr":0,"x":390.40000915527344,"y":560.0000286102295,"wires":[["a705e6dd.f81788","5d559ed5.c3ece"]]},{"id":"df142f60.69126","type":"ui_gauge","z":"3ced2403.746b1c","name":"","group":"340374c7.4e9d5c","order":7,"width":"6","height":"4","gtype":"gage","title":"Ganapi","label":"Stress level","format":"{{value | number:1}}","min":0,"max":"120","colors":["#00b500","#ffff00","#ff0000"],"seg1":"74","seg2":"82","x":546.1001129150391,"y":653.8001289367676,"wires":[]},{"id":"32fae274.9f013e","type":"function","z":"3ced2403.746b1c","name":"Stress level","func":"var msgtemp={};\nvar temp = 0, hum = 0, thi = 0.0;\nif ( typeof msg.payload.d.smart_objects !== 'undefined') {\n temp = msg.payload.d.smart_objects.temperature[0].sensorValue;\n hum = msg.payload.d.smart_objects.humidity[0].sensorValue;\n thi = (1.8*temp + 32.0) - (0.55-0.0055*hum) * (1.8*temp - 26.8);\n}\nmsgtemp.payload = thi;\nmsgtemp.topic=\"e680\"\nreturn msgtemp;\n","outputs":1,"noerr":0,"x":389.0000305175781,"y":654.8000831604004,"wires":[["df142f60.69126","5d559ed5.c3ece"]]},{"id":"10b0278a.a0bff8","type":"function","z":"3ced2403.746b1c","name":"Stress level","func":"var msgtemp={};\nvar temp = 0, hum = 0, thi = 0.0;\nif ( typeof msg.payload.d.smart_objects !== 'undefined') {\n temp = msg.payload.d.smart_objects.temperature[0].sensorValue;\n hum = msg.payload.d.smart_objects.humidity[0].sensorValue;\n thi = (1.8*temp + 32.0) - (0.55-0.0055*hum) * (1.8*temp - 26.8);\n}\nmsgtemp.payload = thi;\nreturn msgtemp;\n","outputs":1,"noerr":0,"x":378.8999481201172,"y":52.80000591278076,"wires":[[]]},{"id":"1e121e88.de6ec1","type":"function","z":"3ced2403.746b1c","name":"Stress level","func":"var msgtemp={};\nvar temp = 0, hum = 0, thi = 0.0;\nif ( typeof msg.payload.d.smart_objects !== 'undefined') {\n temp = msg.payload.d.smart_objects.temperature[0].sensorValue;\n hum = msg.payload.d.smart_objects.humidity[0].sensorValue;\n thi = (1.8*temp + 32.0) - (0.55-0.0055*hum) * (1.8*temp - 26.8);\n}\nmsgtemp.payload = thi;\nreturn msgtemp;\n","outputs":1,"noerr":0,"x":378.8999481201172,"y":52.80000591278076,"wires":[[]]},{"id":"9c748569.2e6c38","type":"ui_gauge","z":"3ced2403.746b1c","name":"","group":"340374c7.4e9d5c","order":4,"width":"6","height":"4","gtype":"gage","title":"Ganga","label":"Stress level","format":"{{value | number:1}}","min":0,"max":"120","colors":["#00b500","#ffff00","#ff0000"],"seg1":"76","seg2":"84","x":544.5714492797852,"y":72.37140464782715,"wires":[]},{"id":"8125ba08.8acf18","type":"function","z":"3ced2403.746b1c","name":"Stress level","func":"var msgtemp={};\nvar temp = 0, hum = 0, thi = 0.0;\nif ( typeof msg.payload.d.smart_objects !== 'undefined') {\n temp = msg.payload.d.smart_objects.temperature[0].sensorValue;\n hum = msg.payload.d.smart_objects.humidity[0].sensorValue;\n thi = (1.8*temp + 32.0) - (0.55-0.0055*hum) * (1.8*temp - 26.8);\n}\nmsgtemp.payload = thi;\nmsgtemp.topic=\"0384\"\nreturn msgtemp;\n","outputs":1,"noerr":0,"x":378.8999481201172,"y":52.80000591278076,"wires":[["9c748569.2e6c38","5d559ed5.c3ece"]]},{"id":"36b8c16a.8d3e2e","type":"function","z":"3ced2403.746b1c","name":"Stress level","func":"var msgtemp={};\nvar temp = 0, hum = 0, thi = 0.0;\nif ( typeof msg.payload.d.smart_objects !== 'undefined') {\n temp = msg.payload.d.smart_objects.temperature[0].sensorValue;\n hum = msg.payload.d.smart_objects.humidity[0].sensorValue;\n thi = (1.8*temp + 32.0) - (0.55-0.0055*hum) * (1.8*temp - 26.8);\n}\nmsgtemp.payload = thi;\nmsgtemp.topic=\"fa02\"\nreturn msgtemp;\n","outputs":1,"noerr":0,"x":391.89996337890625,"y":608.6000308990479,"wires":[["3b5a56fb.d15dea","5d559ed5.c3ece"]]},{"id":"3b5a56fb.d15dea","type":"ui_gauge","z":"3ced2403.746b1c","name":"","group":"340374c7.4e9d5c","order":6,"width":"6","height":"4","gtype":"gage","title":"Krishne","label":"Stress level","format":"{{value | number:1}}","min":0,"max":"120","colors":["#00b500","#ffff00","#ff0000"],"seg1":"74","seg2":"82","x":548.0000152587891,"y":609.0000314712524,"wires":[]},{"id":"fd5addf3.c3dcf","type":"twilio out","z":"3ced2403.746b1c","service":"_ext_","twilio":"f6361928.9a2458","from":"","number":"+4917626830170","name":"Kartik","x":973.5,"y":20,"wires":[]},{"id":"5d559ed5.c3ece","type":"function","z":"3ced2403.746b1c","name":"compare","func":"var msg1 = {};\nif (msg.payload >= 80) {\n if(msg.topic == \"0384\")\n msg1.payload = \"Ganga is in stress\";\n else if(msg.topic == \"dd81\")\n msg1.payload = \"Yamuna is in stress\";\n else if(msg.topic == \"fa02\")\n msg1.payload = \"Krishne is in stress\";\n else if(msg.topic == \"e680\")\n msg1.payload = \"Ganapi is in stress\";\n \n return msg1;\n}\nelse\n return;","outputs":1,"noerr":0,"x":529.5,"y":20,"wires":[["fd5addf3.c3dcf"]]},{"id":"8068b3e9.eda2e","type":"inject","z":"deb0d57.1c46528","name":"","topic":"","payload":"","payloadType":"date","repeat":"86400","crontab":"","once":false,"x":118.5714340209961,"y":168.57144165039062,"wires":[[]]}]